.main{
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 5px;
    background-image:url(wall.jpg) ;
}
input{
    background-color: wheat;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    color: aqua;
}
input:focus{

}